<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="procajas.onmicrosoft.com" />
    <add key="ida:ClientID" value="43ce6aab-f432-4816-97ae-0675a673da9d" />
    <add key="ida:RedirectUri" value="https://procajas.azurewebsites.net/.auth/login/done" />
  
    <add key="ida:ProcajasResourceId" value="https://procajas.azurewebsites.net/" />
    <add key="ida:ProcajasApiEndpoint" value="https://procajas.azurewebsites.net/api/" />
  </appSettings>
</configuration>